Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Projects
Sites
autojump_errors
bin
mbox
VirtualBox\ VMs
*.swp
\.idea
\.CFUserTextEncoding
\.DS_Store
\.Rhistory
\.Xauthority
\.autojump_py
\.autojump_py.bak
\.autotest
\.bash_history
\.bundle
\.cups
\.dbshell
\.dixcomrc
\.dropbox
\.dvdcss
\.fontconfig
\.gem
\.heroku
\.irb-history
\.irb_history
\.lesshst
\.macports
\.mysql_history
\.raynor_ec2_credentials.yml
\.rdebug_hist
\.rvm
\.ssh
\.subversion
\.viminfo
\.passenger
\.pow
\.pry_history
\.vmc_target
\.vmc_token
\.webbynode
\.ec2
\.powconfig
\.scout
\.rnd
\.Trash
