[user]
	name = Sean Kibler
	email = skibler1223@gmail.com
[alias]
	st = status
	co = checkout
	ci = commit
[diff]
  color = true

[status]
  color = true
[core]
	excludesfile = /Users/skibler/.gitignore
